   
textarea{
    resize: none;
}
           
#container{
    width:100%;
    margin:0 auto;
   
}

#content{
    width:80%;
    margin:0 auto;
    border:1px;
}
#content > div{
    display:inline-block;
    overflow: auto;
}
#content_header{
    width:100%;
}
  
#write_review_wrapper{
	border:1px solid ;
	clear:both;
	width:100%;
	padding:2%;
}

.reply-button-container > *{
    width:100%;
   
    border:1px;
}

.button_block {
    
    
    width: 80px;
    border: none;
    background-color: rgb(35, 107, 190);
    color: white;
   
    font-size: 13px;
    
    margin:10px 0px 10px 10px;
    padding: 10px; 
    float:right;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.button_block:hover {
    background-color: #ddd;
    color: black;
}



div.reply-container{
    clear:both;
    margin-top:40px ;

}
.reply-button-container:after{
    content:""; display:block; clear:both;
}

.form-group{
    margin-bottom:0px;
}

.collapse{
    display:none;
}
    
    .reply-container div{
        display:block;
    }
        .reply-cotainer-header{
            
            border-bottom:1px solid #ccc;
            margin-bottom:20px;
        }
        .reply-container-content > div{
           
            float:right;
        }
        

            .author-thumbnail{
                
                border-radius: 4px 0px 0px 4px;
            }

           
                .author-picture {
                    margin: 2px;
                    border: 1px solid #ccc;
                    border-radius:50%;
                    float: left;
                    width:5vw; /* 7% of the viewport width */
                    height: 5vw;
                    overflow:hidden;
                }
                    


                div.author-picture:hover {
                    border: 1px solid #777;
                }

                div.author-picture img {
                    width: 100%;
                    height: width;
                }
        .reply-body{
            width:85%;
            margin-left:1%;
        }
                   
div.desc {
    padding: 15px;
    text-align: center;
}

.circle{
    border-radius:50%;
}


#content > div{
    border:1px solid #ccc;
    padding:20px;
}



    #content_top{
        width:100%;
        
        margin:0 auto;
        max-height: 100px;
    }
        #content_top >*{
            float:right;
        }
    #content_middle{
        
        width:100%;
       
    }
        #content_middle > div{
        float:left;
        }

        #left_chart{
            
            border:1px solid #ccc;
        }

        div.average{
            
            height:auto;
            padding:10px;
            text-align: center;
            
            border:1px solid #ccc;
            
           
        }
        div.average >div{
            float:clear;
            margin:0 auto;
           
        }
    #content_bottom{
        width:100%;
        margin:0 20% 0 0;
        
        float:clear;
    }
        
        
        #content_bottom > form{
            width:100%;
        }
        #content_bottom > form > div{
            width:100%;
        }




