/* 에러메세지 */
.err {
	color: red;
	display: none;
}

/* 모바일일 경우 폰트가 작아짐 */
@media screen and (max-width:600px) {
	#tablelecture {
		font-size: 0.8em;
	}
}
/* 테이블 열 크기 조절 20%  */
#tablelecture .width20per {
	width: 20%;
}
/* 테이블 열 크기 조절 15%  */
#tablelecture .width15per {
	width: 15%;
}
/* 하이퍼링크 */
a, a:link, a:visited {
	color: #333;
}

a:active, a:hover {
	color: #4373c1;
	text-decoration: none;
}
/* "홈 박스" */
#homebox {
	border-radius: 0 ! important;
	color: #101b2d;
	background-position: center;
	background-size: 100%;
	/* 	style=text-shadow: 3px 2px 3px black; */
}

#homebox p {
	color: black;
}

@media screen and (max-width:650px) {
	#homebox {
		background-size: 650px;
	}
}
/* "로그인 박스" */
@media screen and (min-width:600px) {
	#loginbox {
		width: 470px;
		padding: 30px;
	}
}
/* "회원가입 박스" */
@media screen and (min-width:600px) {
	#joinbox {
		width: 470px;
		padding: 30px;
	}
}
/* "이메일 재설정 박스" */
#resetpwbox {
	width: 450px;
	padding: 30px;
}

/* 체크박스  */
input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.5);
	/* IE */
	-moz-transform: scale(1.5);
	/* FF */
	-webkit-transform: scale(1.5);
	/* Safari and Chrome */
	-o-transform: scale(1.5);
	/* Opera */
	padding: 10px;
}
/* 검색창-선택  */
.searchform select {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	text-align: center;
	width: 100px;
	background-color: #182842;
	color: white;
}
/* 검색창-입력  */
.searchform input {
	border-radius: 0px;
	
}
/* 검색창-버튼  */
.searchform button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #182842;
	color: white;
}

.searchform button:hover {
	background-color: #182842;
	color: #4373c1;
}