
.jh-thumbs-up:before { content: '\e800'; } /* '' */
.jh-thumbs-down:before { content: '\e801'; } /* '' */
.jh-download:before { content: '\e802'; } /* '' */
.jh-upload:before { content: '\e803'; } /* '' */
.jh-star:before { content: '\e804'; } /* '' */
.jh-star-empty:before { content: '\e805'; } /* '' */
.jh-star-half:before { content: '\e806'; } /* '' */
.jh-bell:before { content: '\e807'; } /* '' */
.jh-videocam:before { content: '\e808'; } /* '' */
.jh-picture:before { content: '\e809'; } /* '' */
.jh-camera:before { content: '\e80a'; } /* '' */
.jh-down-open:before { content: '\e80b'; } /* '' */
.jh-up-open:before { content: '\e80c'; } /* '' */
.jh-heart:before { content: '\e80d'; } /* '' */
.jh-twitter:before { content: '\f099'; } /* '' */
.jh-comment-empty:before { content: '\f0e5'; } /* '' */
.jh-star-half-alt:before { content: '\f123'; } /* '' */
.jh-thumbs-up-alt:before { content: '\f164'; } /* '' */
.jh-thumbs-down-alt:before { content: '\f165'; } /* '' */